
/**************************************************************************/
/** Admin Panel
/**************************************************************************/

.admin-panel {
    width: 100%;
    height: 100%;
}


/**************************************************************************/
/** Admin Sidebar
/**************************************************************************/

.admin-panel .sidebar {
    width: 65px;
    background-color: #777f85;
}

.admin-panel .sidebar .fas {
    color: #fff;
    height: 65px;
    width: 65px;
    text-align: center;
    font-size: 30px;
    line-height: 65px;
    cursor: pointer;
    opacity: 0.85;
}

.admin-panel .sidebar .fas:hover{
    background-color: #9aa8b1;
}

.admin-panel .sidebar .selected {
    background-color: #9aa8b1
}




/**************************************************************************/
/** Landing Page
/**************************************************************************/

.admin-panel .landing-page {
    text-align: center;
    font-size: 200px;
    color: #3a3e45;
    text-shadow: -6px 3px 6px #000000;
}




/**************************************************************************/
/** DBView
/**************************************************************************/

.admin-panel .db-view {
    width: 100%;
    height: 100%;
    background-color: inherit;
}


.admin-panel .db-view .left-panel {
    background-color: #33363f; /* panel toolbar */
    border-right: 1px solid #4c5258; /* button border */
}


.admin-panel .db-view .editor {
    height: 240px;

}

.admin-panel .db-view .editor textarea {
    background-color: #23252b;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    font-size: 14px;
    color: #97989c; /* same as table */
}


.admin-panel .db-view .bottom-panel {
    background-color: inherit;
    border-top: none;
}

/*
.admin-panel .db-view .tree-node:hover {

}
*/


/**************************************************************************/
/** User Admin Panel
/**************************************************************************/

.admin-panel .user-stats {
    height: 250px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.admin-panel .user-status {
    display: inline-block;
    background-color: #e3e3e3;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #999;
    margin: 11px 7px 0 6px;
}

.admin-panel .user-status.active {
    position:relative;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    width: 10px;
    height: 10px;
    border-radius:50%;
    background-color:#00c34e;
}

.admin-panel .user-status.active:after {
  content:'';
  position:absolute;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  -webkit-animation:circle-pulse 2s infinite;
  animation:circle-pulse 2s infinite;
  border-radius:50%;
  -webkit-box-shadow:0 0 0 0 #4daa57;
  box-shadow:0 0 0 0 #4daa57;
}

@-webkit-keyframes circle-pulse {
  0% {
    -webkit-transform:scale(0.95);
    transform:scale(0.95);
    -webkit-box-shadow:0 0 0 0 rgba(77,170,87,0.9);
    box-shadow:0 0 0 0 rgba(77,170,87,0.9);
  }
  50% {
    -webkit-transform:scale(1);
    transform:scale(1);
    -webkit-box-shadow:0 0 0 8px rgba(77,170,87,0);
    box-shadow:0 0 0 8px rgba(77,170,87,0);
  }
  100% {
    -webkit-transform:scale(0.95);
    transform:scale(0.95);
    -webkit-box-shadow:0 0 0 0 rgba(77,170,87,0);
    box-shadow:0 0 0 0 rgba(77,170,87,0);
  }
}
@keyframes circle-pulse {
  0% {
    -webkit-transform:scale(0.95);
    transform:scale(0.95);
    -webkit-box-shadow:0 0 0 0 rgba(77,170,87,0.9);
    box-shadow:0 0 0 0 rgba(77,170,87,0.9);
  }
  50% {
    -webkit-transform:scale(1);
    transform:scale(1);
    -webkit-box-shadow:0 0 0 8px rgba(77,170,87,0);
    box-shadow:0 0 0 8px rgba(77,170,87,0);
  }
  100% {
    -webkit-transform:scale(0.95);
    transform:scale(0.95);
    -webkit-box-shadow:0 0 0 0 rgba(77,170,87,0);
    box-shadow:0 0 0 0 rgba(77,170,87,0);
  }
}



.admin-panel .table-col .fas.fa-check {
    color: var(--green-background);
    line-height: 35px;
}