.javaxt-media-view {

  /**************************************************************************/
  /** Local CSS Variables
  /**************************************************************************/
    --icon-size: 18px;
    --icon-color: #8e8f92;
    --icon-hover: #d2d2d2;
    --icon-selected: #d2d2d2;
    --background-color: #000;


  /**************************************************************************/
  /** Container
  /**************************************************************************/

    background-color: var(--background-color);



  /**************************************************************************/
  /** Close Button
  /**************************************************************************/

    .close-button {
        width:  52px;
        height: 52px;
        text-align: center;
        cursor: pointer;
        background-color: rgba(0,0,0,0.6);
        border-radius: 50%;
        margin: 10px;
    }

    .close-button:hover{
        background-color: rgba(0,0,0,0.8);
    }

    .close-button:after {
        content: '\2715'; /* &#x2715; */
        line-height: 52px;
        font-size: 30px;
        color: var(--icon-color);
    }

    .close-button:hover:after {
        color: var(--icon-hover);
    }


  /**************************************************************************/
  /** Menu Icon
  /**************************************************************************/
  /** The following classes are used to create a menu icon in the header in
   *  the upper left corner.
   */
    .menu-icon {
        display: inline-block;
        cursor: pointer;
        padding: 0 15px;
    }

    .menu-bar1, .menu-bar2, .menu-bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--icon-color);
        margin: 6px 0;
        transition: 0.6s;
        box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.1);
    }

    .menu-bar2 {
        transition: 0.2s;
    }

    .menu-icon:hover .menu-bar1, .menu-icon:hover .menu-bar2, .menu-icon:hover .menu-bar3 {
        background-color: var(--icon-hover);
    }


    .menu-icon-change .menu-bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 7px);
        transform: rotate(-45deg) translate(-9px, 7px);
    }

    .menu-icon-change .menu-bar2 {opacity: 0;}

    .menu-icon-change .menu-bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -7x);
        transform: rotate(45deg) translate(-9px, -7px);
        box-shadow: 3px 0px 0px 0px rgba(0, 0, 0, 0.1);
    }


    /* The following 2 classes force the "X" into a ">" */
    .menu-icon-change .menu-bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 17px);
        transform: rotate(-45deg) translate(-9px, 17px);
        width: 22px;
    }
    .menu-icon-change .menu-bar3 {
        -webkit-transform: rotate(45deg) translate(-9px, -16px);
        transform: rotate(45deg) translate(-9px, -16px);
        box-shadow: none;
        width: 22px;
    }




  /**************************************************************************/
  /** Carousel Controls
  /**************************************************************************/

    .move-left,
    .move-right {
        width: 60px;
        height: 60px;
        text-align: center;
        cursor: pointer;
        background-color: rgba(0,0,0,0.6);
        border-radius: 50%;
        margin: 10px;
        margin-top: -30px; /* half height */
        position: relative;
        transition: 0.4s;
    }

    .move-left:hover,
    .move-right:hover {
        background-color: rgba(0,0,0,0.8);
    }

    .move-left:before,
    .move-left:after,
    .move-right:before,
    .move-right:after{
        content: '';
        width: 30px;
        height: 5px;
        background-color: var(--icon-color);
        display: inline-block;
        border-radius: 2px;
        position: absolute;
    }

    .move-left:hover:before,
    .move-left:hover:after,
    .move-right:hover:before,
    .move-right:hover:after{
        background-color: var(--icon-hover);
    }

    .move-left:before {
        -webkit-transform: rotate(45deg) translate(-9px, 17px);
        transform: rotate(45deg) translate(-9px, 17px);
        top: 32px;
        left: 29px;
    }

    .move-left:after {
        -webkit-transform: rotate(-45deg) translate(-12px, -18px);
        transform: rotate(-45deg) translate(-12px, -18px);
        top: 23px;
        left: 32px;
    }


    .move-right:before {
        -webkit-transform: rotate(-45deg) translate(-9px, 17px);
        transform: rotate(-45deg) translate(-9px, 17px);
        top: 19px;
        right: 18px;
    }

    .move-right:after {
        -webkit-transform: rotate(45deg) translate(-12px, -18px);
        transform: rotate(45deg) translate(-12px, -18px);
        top: 40px;
        right: 17px;
    }


  /**************************************************************************/
  /** Overlay
  /**************************************************************************/
    .overlay{

        .face {
            border: 1px solid red;
        }

        .face:hover {
            background-color: rgba(255, 0, 0, 0.1);
        }
    }


  /**************************************************************************/
  /** Footer
  /**************************************************************************/
  /** Button bar that appears below a media item
  */
    .footer {
        height: 30px;
        max-width: 400px;
        text-align: center;


        .button {
            cursor: pointer;
        }

        .button:before {
            font-family: "Font Awesome 5 Free";
            font-weight: 400; /* far (regular) */
            font-size: var(--icon-size);
            color: var(--icon-color);
        }

        .button:hover:before {
            color: var(--icon-hover);
        }

        .button.selected:before {
            font-weight: 900; /* fas (solid) */
            color: var(--icon-selected);
        }

        .info.button:before {
            content: "\f15c"; /* file */
        }

        .like.button:before {
            content: "\f004"; /* heart */
        }

        .face.button:before {
            content: "\f007"; /* user */
        }

        .settings.button:before {
            content: "\f1de";
        }


        /**************************************************************************/
        /** Play/Pause Button (Footer Button)
        /**************************************************************************/

        .play-button {
          height: var(--icon-size);
          width: var(--icon-size);
          display: block;
          overflow: hidden;
          position: relative;
          cursor: pointer;
        }

        .play-button:hover > div {
            background-color: var(--icon-hover);
        }

        .pause-left,
        .pause-right {
          height: 100%;
          float: right;
          width: 36%;
          background-color: var(--icon-color);
          -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease;
        }

        .pause-left {
          float: left;
        }

        .pause-right {
          float: right;
        }

        .play-top {
          -webkit-transform: translate(0, -100%);
                  transform: translate(0, -100%);
        }

        .play-bottom {
          -webkit-transform: translate(0, 100%);
                  transform: translate(0, 100%);
        }

        .play-top,
        .play-bottom {
          position: absolute;
          top: 0;
          right: 0;
          background-color: transparent;
          width: 0;
          height: 0;
          border-right: var(--icon-size) solid var(--background-color);
          border-top: 9px solid transparent;
          border-bottom: 9px solid transparent;
          -webkit-transition: -webkit-transform 0.25s ease;
          transition: -webkit-transform 0.25s ease;
          transition: transform 0.25s ease;
          transition: transform 0.25s ease, -webkit-transform 0.25s ease;
        }

        .pause .pause-left,
        .pause .pause-right {
          width: 50%;
        }

        .pause .play-top {
          -webkit-transform: translate(0, -50%);
                  transform: translate(0, -50%);
        }
        .pause .play-bottom {
          -webkit-transform: translate(0, 50%);
                  transform: translate(0, 50%);
        }

    }
}