
/**************************************************************************/
/** DataGrid
/**************************************************************************/

.javaxt-thumbnail-view .table-header {
    display: none;
}

.javaxt-thumbnail-view .table-row,
.javaxt-thumbnail-view .table-row-selected {
    background-color: initial;
    border-bottom: 0px none;
}

.javaxt-thumbnail-view .table-col {
    height:360px;
    /*line-height: 200px;*/
}

.javaxt-thumbnail-view .table-col > div > div {
    text-align: center;
}

/**************************************************************************/
/** Thumbnail Container
/**************************************************************************/

.javaxt-thumbnail-view .thumbnail-container {
    height: 100%;
    display: inline-block;
}

.javaxt-thumbnail-view .thumbnail {
    width: 320px;
    height: 320px;
    display: inline-block;
    /*float: left;*/
    background-repeat:no-repeat;
    background-position: center center;
    cursor: pointer;
}


/**************************************************************************/
/** Folder Icon
/**************************************************************************/

.javaxt-thumbnail-view .thumbnail .fas.fa-folder {
    font-size: 201px;
    color: #45413a;
    text-shadow: -6px 3px 6px #000;
    transition: 0.4s;
}

.javaxt-thumbnail-view .thumbnail .fas.fa-folder:hover {
    color: #534631;
    text-shadow: -9px 7px 17px #000;
}


/**************************************************************************/
/** Missing Thumbnail Icon
/**************************************************************************/

.javaxt-thumbnail-view .thumbnail.not-available {
    position: relative;
}

.javaxt-thumbnail-view .thumbnail.not-available:before {
    content: '';
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    background-color: rgba(0,0,0,0.5);
    border-radius: 7px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.javaxt-thumbnail-view .thumbnail.not-available:after {
    font-family: "Font Awesome 5 Free";
    font-size: 100px;
    content: "\f070"; /* fas fa-chevron-down */
    z-index: 1;
    position: absolute;
    right: calc(50% - 60px);
    top: calc(50% - 60px);
}



/**************************************************************************/
/** Missing Search Results
/**************************************************************************/


.javaxt-thumbnail-view .no-search-results {
    text-align: center;
    font-size: 20px;
    color: #777;
}


.javaxt-thumbnail-view .no-search-results .fas {
    font-size: 114px;
    color: #e9e9e9;

    color: #3a3e45;
    text-shadow: -6px 3px 6px #000;

    padding:20px 0;
}